*{
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin: 0;
}

#bloc_page{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 15px 0 15px;
    overflow-x: hidden;
}

/*HEADER*/
    header{
        display: flex;
        
    }

    #logo{
        width:73px;
        height:50px;
    }

    nav{
        width:100%;
        display:flex;
        justify-content:flex-end;
    }

    header nav ul{
       list-style:none;
       display:inline-block;
       margin-top:0;

    }

    header nav ul li{
        display:inline-block;
        margin-left:30px;
        padding:15px;
        font-size:0.85rem;
        border-top:2px solid transparent;

    }

    header nav ul li:hover{
        border-top: 2px solid #0065FC;  
    }

    header nav ul li a{
        text-decoration:none;
        color:#000000;

    }

    header nav ul li:last-child a{

        color:#0065Fc;
        font-weight:bold;
    }

    

    /*SECTION TITRE ET BARRE DE RECHERCHE*/
section h1{
    font-size: 14px;
    font-weight: bold;
}

#premier_para{
    margin-top: -5px;
    padding-left: 0%;
    font-size: 0.8rem;
}



#search{
    height:35px;
    font-weight: bold;
    outline: none;
    border: solid 1.5px;
    border-color: #F2F2F2;
    padding-left: 10px;
}

#btn_recherche{
    height: 35px;
    background: #0065FC;
    border-radius: 0 11px 11px 0px;
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
}

#block_barre span{
    height: 35px;
    background: #F2F2F2;
    border-radius: 11px 0px 0px 11px;
    padding: 10px;
    text-align:center;
    padding-right: 9px;
}

::placeholder{
   color: black;
   font-size: 0.7rem;
}

#block_barre{
    display: flex;
    justify-content: flex-start;
}


/*FILTRES 1ERE PARTIE*/
#mot_filtres{
    font-size: 0.8rem;
    font-weight: bold;
}



.filtres_eco{
    padding:0px 14px 10px 0px;
    border:2px solid #F2F2F2;
    border-left: none;
    display:inline-block;
    border-radius:16px;
    height:31px;
    margin-left:20px;
    cursor: pointer;
  
}
.filtres_eco span:first-child{
     height:29px;
     width:29px;
     bottom: 1px;
     background: rgb( 213, 230, 250);
     border-radius:16px;
     position:relative;
  }

.filtres_eco span{
    display:inline-block;
    margin-bottom: -10px;
}


.filtres_eco span:first-child i{
    width:16px;
    height:16px;
    top:24%;
    left:15%;
    position:absolute;
    color: #0065FC;
}


.filtres_eco span:last-child{ 
   margin-left:5px;
   font-size: 0.8rem;
}


.filtres_eco span:first-child:hover i{
    color: blue;
}

.filtres_eco span:last-child:hover{
    color: blue;
}




/*FILTRES 2EME PARTIE*/
.famille{
    padding:0px 14px 10px 0px;
    border:2px solid #F2F2F2;
    border-left: none;
    display:inline-block;
    border-radius:16px;
    height:31px;
    margin-left:20px;
    cursor: pointer;
  
}
.famille span:first-child{
     height:29px;
     width:29px;
     bottom: 1px;
     background: rgb( 213, 230, 250);
     border-radius:16px;
     position:relative;
  }

.famille span{
    display:inline-block;
    margin-bottom: -10px;
}


.famille span:first-child i{
    width:16px;
    height:16px;
    top:24%;
    left:28%;
    position:absolute;
    color: #0065FC;
}


.famille span:last-child{ 
   margin-left:5px;
   font-size: 0.8rem;
}


.famille span:first-child:hover i{
    color: blue;
}

.famille span:last-child:hover{
    color: blue;
}


/*FILTRES 3EME PARTIE*/
.coeur{
    padding:0px 14px 10px 0px;
    border:2px solid #F2F2F2;
    border-left: none;
    display:inline-block;
    border-radius:16px;
    height:31px;
    margin-left:20px;
    cursor: pointer;
  
}
.coeur span:first-child{
     height:29px;
     width:29px;
     bottom: 1px;
     background: rgb( 213, 230, 250);
     border-radius:16px;
     position:relative;
  }

.coeur span{
    display:inline-block;
    margin-bottom: -10px;
}


.coeur span:first-child i{
    width:16px;
    height:16px;
    top:24%;
    left:23%;
    position:absolute;
    color: #0065FC;
}


.coeur span:last-child{ 
   margin-left:5px;
   font-size: 0.8rem;
}


.coeur span:first-child:hover i{
    color: blue;
}

.coeur span:last-child:hover{
    color: blue;
}


/*FILTES 4EME PARTIE*/
.animaux{
    padding:0px 14px 10px 0px;
    border:2px solid #F2F2F2;
    border-left: none;
    display:inline-block;
    border-radius:16px;
    height:31px;
    margin-left:20px;
    cursor: pointer;
}


.animaux span:first-child{
     height:29px;
     width:29px;
     bottom: 1px;
     background: rgb( 213, 230, 250);
     border-radius:16px;
     position:relative;
  }


.animaux span{
    display:inline-block;
    margin-bottom: -10px;
}


.animaux span:first-child i{
    width:16px;
    height:16px;
    top:20%;
    left:20%;
    position:absolute;
    color: #0065FC;
}


.animaux span:last-child{ 
   margin-left:5px;
   font-size: 0.8rem;
}


.animaux span:first-child:hover i{
    color: blue;
}


.animaux span:last-child:hover{
    color: blue;
}


/*APRES FILTRES*/
.icone_info i{
   border-radius: 18px;
   color: white;
   background: #0065FC;
}

.icone_info:last-child{
    font-size: 0.8rem;
    font-weight: bold;
    color: grey;
}



/*SECTION 2 HEBERGEMENT A MARSEILLE*/
.section_hebergements{
    display: flex;
    width:100%;
}


.section_hebergements ul{
    list-style-type: none;
    background: #F2F2F2;
    padding-top: 10px;
    padding-bottom: 20px;
    border-radius: 17px;
    padding-left:23px;
}


.section_hebergements span li{
    display: inline-block;
    width: 250px;;
    height: 170px;
    margin-right: 10px;
    padding-left:3px;
    padding-right: 3px;
    padding-top: 3px;
    border-radius: 17px;
    margin-bottom: 20px;
    background-color: white;
    cursor:pointer;
}

#img_section_2{
    width: 244px;
    height: 100px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}

.section_hebergements h3,p{
    font-size: 0.8rem;
    padding-left: 10px;
    padding-bottom: 5px;
    margin: auto;
}

#affiche_plus{
    font-weight: bold;
    cursor: pointer;
}


/*ASIDE*/
.aside{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    width: 25%;
}


.aside ul{
    padding-left: 10px;
    padding-right: 3px;
    height: 91%;
}


.aside h1 i{
    padding-left: 80px;       /*ICONE STAT*/
}


#img_aside{
    width: 110px;
    height: 110px;
    border-radius: 15px 0px 0px 15px;
}

.aside span li{
    display: flex;
    width: 248px;
    height: 115.1px;
    padding-right: 15px;
    background-color: white;
}


.titre_para_etoile{
    padding-top: 8px;
}



/*ETOILES HERBERGEMENTS*/
.etoile_hebergements{
    font-size: 10px;
    padding-left: 10px;
    color: #F2F2F2;
}

.etoile_1 i{
    color: #0065FC;
}

.etoile_2 i{
    color: #0065FC;
}

.etoile_3 i{
    color: #0065FC;
}

.etoile_4 i{
    color: #0065FC;
}

.etoile_5 i{
    color: #0065FC;
}

.etoile_6 i{
    color: #0065FC;
}


/*ETOILES DE ASIDE*/
.etoile{
    font-size: 10px;
    padding-left: 10px;
    color:#F2F2F2;
}

.aside_etoile_1{
    color: #0065FC;
}

.aside_etoile_2{
    color: #0065FC;
}


.aside_etoile_3{
    color: #0065FC;
}




/*SECTION ACTIVITES*/
.section_activites{
    display: flex;
    width:100%;
}


.section_activites ul{
    list-style-type: none;
    position: relative;
    padding-left: 0px;
}

.section_activites li{
    border-radius: 17px;
    background-color: white;
    display: inline-block;
    box-shadow: 1px 1px 4px 4px #F2F2F2;
    margin-right: 16px;
    cursor:pointer;
}


.section_activites h3{
    padding-left: 10px;
}

#pomegue{
    position: absolute;
}

#notre_dame{
    position: absolute;
}



.section_activites h3{
    font-size: 0.8rem;
}


.section_activites img{
    border-radius: 17px 17px 0 0;
}




/*IMG SECTION ACTIVITE*/
#img_port_calanque{
    width: 260px;
    height: 350px;
    object-fit: cover;
}


#img_pomegue{
    width: 260px;
    height: 150px;
    object-fit: cover;
}


#img_frioul{
    width: 260px;
    height: 110px;
    object-fit: cover;
}


#img_notre_dame{
    width: 260px;
    height: 120px;
    object-fit: cover;
}

#img_longchamp{
    width: 260px;
    height: 150px;
    object-fit: cover;
}



/*FOOTER*/
.footer{
    display: flex;
    width: 102.5%;
    margin-left: -13.5px;
    background-color: #F2F2F2;
}

.footer ul{
    margin-right: 100px;
    padding-left: 15px;
}

footer li{
    padding-top: 10px;
    font-size: 0.8rem;
}

footer a{
    color: black;
    text-decoration: none;
    list-style-type: none;
}

