body{
    font-family: 'Raleway', sans-serif;
}

/*nav*/

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

    #logo{
        width:  100px;
    }

    header ul{
        display: flex;
        list-style-type:none;
        





