@media only screen and (max-width: 767px){
        /*HEADER*/
        .header {
            flex-direction: column;
            margin: 0 0 0 0;
            padding: 0;
        }
    
        #reserviaLogo {
            display: flex;
            justify-content: space-between;
            width: 24%;
            height: 45px;
            padding-top: 7px;
        }
    
        .menu {
            display: inline-block;
            font-weight: 500;
        }
    
        #register {
            color: #0065FC;
            font-weight: bold;
            margin: 0rem 0rem 0 1.5rem;
            float: right;
            position: relative;
            top: -4.4rem;
            right: 1rem;
        }
    
        #register:hover {
            background-color: #DEEBFF;
            border-radius: 10rem;
        }
    
        .navigationBar {
            display: flex;
            justify-content: space-between;
            margin: -4.5%;
        }

        #lodging{
            margin-left:30px;
        }

        #activities{
            margin-left: 30px;
        }

    
        #lodgingLink {
            border-top: none;
            padding: 1.9rem 1rem 0 1rem;
            border-bottom: 0.1rem solid #F2F2F2;
            display:inline-block;
        }

        #activitiesLink {
            border-top: none;
            padding: 1.9rem 1rem 0 1rem;
            border-bottom: 0.1rem solid #F2F2F2;
        }

        .navigationLinks{
            width: 50%;
            margin: initial;
            display:inline-block;

        }

        .navigationLinks:hover {
            border-bottom: 0.1rem solid #0065FC !important;
            border-top: none;
            font-weight: bold;
        }
    



    /*BARRE DE RECHERCHE*/
    #section h1{
        font-size: 0.9rem;
        font-weight: bold;
    }

    #premier_para{
        margin-bottom: 15px;
        padding-left: 0%;
        font-size: 0.8rem;
    }

    #block_barre{
        margin-bottom: 15px;
    }

    #search{
        width: 100%;
        height:35px;
        font-weight: bold;
        outline: none;
        border: solid 1.5px;
        border-color: #F2F2F2;
    }


    #btn_recherche{
        height: 35px;
        background: #0065FC;
        border-radius: 0 11px 11px 0px;
        border: none;
        color: white;
        padding: 10px;
        cursor: pointer;
        padding-left: 20px;
        padding-right: 20px;
    }


    #button-search{
        border-radius:11px;
        transform:translate3d(-5px,0,0);
     }

     #button-search span{
         display:none;
     }

     #button-search i{
         display:inline-block;
     }


    ::placeholder{
    color: black;
    font-size: 0.7rem;
    }


    #block_barre{
        display: flex;
        justify-content: flex-start;
    }


    /* FILTRES */
    #mot_filtres{
        transform:translate3d(0,-20px,0);
    }
    #filtres{
        margin-left:initial;
    }

    /* ECONOMIQUE */
    .filtres_eco{
        padding:0px 14px 10px 0px;
        border:2px solid #F2F2F2;
        border-left: none;
        display:inline-block;
        border-radius:16px;
        height:31px;
        margin-left:0px;
        margin-bottom: 10px;
        margin-top: 10px;
        cursor: pointer;
    }


    .filtres_eco span:first-child i{
        top:25%;
        left:16%;
        position:absolute;
        color: #0065FC;
    }


    /* FAMILIAL */
    .famille{
        padding:0px 14px 10px 0px;
        border:2px solid #F2F2F2;
        border-left: none;
        display:inline-block;
        border-radius:16px;
        height:31px;
        margin-left:10px;
        margin-right: 10px;
        cursor: pointer; 
    }

    
    .famille span:first-child i{
        top:25%;
        left:29%;
        position:absolute;
        color: #0065FC;
    }


    /* ROMANTIQUE */
    .coeur{
        padding:0px 14px 10px 0px;
        border:2px solid #F2F2F2;
        border-left: none;
        display:inline-block;
        border-radius:16px;
        height:31px;
        margin-left: 0px;
        margin-top: 3px;
        cursor: pointer;
    }

    .coeur span:first-child i{
        top:26.5%;
        left:22.5%;
        position:absolute;
        color: #0065FC;
    }


    /* ANIMAUX */
    .animaux{
        padding:0px 14px 10px 0px;
        border:2px solid #F2F2F2;
        border-left: none;
        display:inline-block;
        border-radius:16px;
        height:31px;
        cursor: pointer;
        position: absolute;
        margin-top: 45px !important;
        left: -4px;
    }


    .animaux span:first-child i{
        top:20%;
        left:20%;
        position:absolute;
        color: #0065FC;
    }

    .icone_info{
        margin-top: 35px;
        margin-bottom: 20px;
    }


    /*ASIDE*/
    #titre_aside{
        display: flex;
        justify-content: space-between;
        margin-left: 4%;
        padding-right: 10px;
    }

    .aside{
        width: 108.5%;
        margin: 0%;
        padding-bottom: 10px;
        padding-top: 10px;
    }

    .aside span ul{
        padding-bottom: 10px;
        padding-top: 10px;
    }

    #ul_aside{
        background-color: #F2F2F2;
        transform:translate3d(-15px, 0, 0);
        border-radius: 0;
    }


    #ul_aside li{
        width: 92%;
        height: 140.4px;
        margin-left: 15px;
        margin-bottom: 10px;
    }


    #ul_aside li img{
        width:  120px;
        height: 134px;
        object-fit: cover;
    }

    /* ETOILE ASIDE */
    .aside_etoile_1{
        display: inline-block;
        padding-top: 65px;
        font-size: 10px;
        color:#0065FC;
    }

    .aside_etoile_2{
        display: inline-block;
        padding-top: 50px;
        font-size: 10px;
        color:#0065FC;
    }


    .aside_etoile_3{
        display: inline-block;
        padding-top: 65px;
        font-size: 10px;
        color:#0065FC;
    }



    /*SECTION HEBERGEMENTS*/
    .section_hebergements{
        display: flex;
        flex-direction: column-reverse;
    }

    .section_hebergements ul{
        width: 100%;
        padding: 0%;
        margin-top: 10px;
        background-color: white;
    }

        #premiere_partie li{
            width: 100%;
            margin-left: 0px;
            margin-bottom: 10px;
            box-shadow: 0px 4px 10px 2px #F2F2F2;
        }

        #img_section_2{
            width: 100%;
            height: 100px;
        }

        #affiche_plus{
            padding-left: 0%;
            margin-top:20px !important;
        }

    
        

    /*ACTIVITES A MARSEILLE*/
    .section_activites ul{
        width: 100%;
        margin-top: 25px;
    }

    .section_activites li{
        width: 100%;
        border-radius: 17px;
        background-color: white;
        display: inline-block;
        box-shadow: 0px 4px 10px 2px #F2F2F2;
        cursor: pointer;
    }


    #pomegue{
        position: relative;
        width: 100%;
        margin-bottom: 10px;
        margin-top: 20px;
    }

    #notre_dame{
        position: relative;
        width: 100%;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    #frioul{
        margin-top: 10px;
        margin-bottom: 20px;
    }



    /*IMG SECTION ACTIVITE*/
    .img_port_calanque{
        width: 100%;
        height: 130px;
        object-fit: cover;
    }


    #img_pomegue{
        width: 100%;
        height: 130px;
        object-fit: cover;
    }


    #img_frioul{
        width: 100%;
        height: 130px;
        object-fit: cover;
    }


    #img_notre_dame{
        width: 100%;
        height: 130px;
        object-fit: cover;
    }

    #img_longchamp{
        width: 100%;
        height: 130px;
        object-fit: cover;
    }



    /*FOOTER*/
    .footer{
        display: flex;
        flex-direction: column;
        width: 110%;
    
    }

    .footer ul{
        margin-bottom: 30px;
        margin-top: 20px;
    }
}
